<manifest 
  package="com.yourapp.id"
  ...>
  
  <!-- Required Permissions -->
  <uses-permission android:name="android.permission.INTERNET" />

  <application>
    <activity>
      <intent-filter android:autoVerify="true">
          <action android:name="android.intent.action.VIEW" />
          <category android:name="android.intent.category.DEFAULT" />
          <category android:name="android.intent.category.BROWSABLE" />
          
          <!-- Deep Link URLs -->
          <data 
              android:scheme="https"
              android:host="reddimon.com" />
      </intent-filter>

      <!-- Custom URL Scheme -->
      <intent-filter>
          <action android:name="android.intent.action.VIEW" />
          <category android:name="android.intent.category.DEFAULT" />
          <category android:name="android.intent.category.BROWSABLE" />
          <data android:scheme="yourapp" />
      </intent-filter>
    </activity>
  </application>
</manifest> 