<activity>
<intent-filter>
<action android:name="android.intent.action.VIEW" />
<category android:name="android.intent.category.DEFAULT" />
<category android:name="android.intent.category.BROWSABLE" />
<data android:scheme="yourapp" />

<!-- Handle attribution links -->
<data android:scheme="https" android:host="redd.im" />
</intent-filter>
</activity>
<uses-permission android:name="android.permission.INTERNET" />